/**
 * Clipboard history menu, based on launchers/type-6/style-9.rasi
 **/

configuration {
	show-icons:                 true;
}

/*****----- Global Properties -----*****/
* {
    font:                        "JetBrains Mono Nerd Font Propo 10";
    background:                  #131D1F;
    background-alt:              #183A43;
    foreground:                  #FFFFFF;
    selected:                    #649094;
    active:                      #E9CC9D;
    urgent:                      #FEA861;
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       820px;
    x-offset:                    0px;
    y-offset:                    0px;

    enabled:                     true;
    border-radius:               15px;
    cursor:                      "default";
    background-color:            @background;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    padding:                     14px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    width:                       220px;
    margin:                      0px 286px;
    spacing:                     6px;
    padding:                     6px 10px;
    border-radius:               8px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "entry" ];
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "";
    font:                        "JetBrains Mono Nerd Font Propo 8";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    font:                        "JetBrains Mono Nerd Font Propo 8";
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "Clipboard";
    placeholder-color:           inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     4;
    lines:                       1;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    flow:                        horizontal;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    spacing:                     8px;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    orientation:                 vertical;
    padding:                     4px;
    border-radius:               10px;
    background-color:            @background-alt;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element normal.normal {
    background-color:            inherit;
    text-color:                  inherit;
}
element selected.normal {
    background-color:            @selected;
    text-color:                  @foreground;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    border-radius:                8px;
    size:                        180px;
    cursor:                      inherit;
}
element-text {
    enabled:                     false;
}
